#slide-1 {
  background: url('img/farmer_salute.jpg');
  background-size: cover;
  color: #cfccc9;
}
#slide-3 {
  background: url('img/who_are_we.jpg');
  background-size: cover;
  color: #89b7b7;
}
.slide-content img {
  width: 50%;
  border-radius: 3px;
}
.slide-content img.center {
    display: block;
    margin: 0 auto;
}
